<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    
    <title>Task Management</title>
    <link rel="shortcut icon" href="/image/logo.jpeg" type="image/x-icon">
    
    <link rel="stylesheet" href="/css/index.css">
    <!-- CSS FILES -->
    <link rel="preconnect" href="/https://fonts.googleapis.com">

    <link rel="preconnect" href="/https://fonts.gstatic.com" crossorigin>

    <link href="/https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/css/apexcharts.css" rel="stylesheet">

    <link href="/css/tooplate-mini-finance.css" rel="stylesheet">
    <!--

Tooplate 2135 Mini Finance

https://www.tooplate.com/view/2135-mini-finance

Bootstrap 5 Dashboard Admin Template

-->

</head>

<body>
    <header class="navbar sticky-top flex-md-nowrap">
        <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
            <p class="navbar-brand">
                <i class="bi-box"></i>
                Task Management
            </p>
        </div>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0"
            action="#" method="get" role="form">
            <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
        </form> -->

        <div class="navbar-nav me-lg-2">
            <div class="nav-item text-nowrap d-flex align-items-center">

                <div class="dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="/images/medium-shot-happy-man-smiling.jpg" class="profile-image img-fluid" alt="">
                    </a>
                    <ul class="dropdown-menu bg-white shadow">
                        <li>
                            <div class="dropdown-menu-profile-thumb d-flex">
                                <img src="/images/medium-shot-happy-man-smiling.jpg"
                                    class="profile-image img-fluid me-3" alt="">

                                <div class="d-flex flex-column">
                                    <small>
                                        <%= user.username %>
                                    </small>
                                    <p style="font-size: 13px; color: red;">
                                        <%= user.email %>
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/profile/<%= user._id %>">
                                <i class="bi-person me-2"></i>
                                Profile
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/mytask/<%= user._id %>">
                                <i class="bi-wallet me-2"></i>
                                My Task
                            </a>
                        </li>


                        <li>
                            <a class="dropdown-item" href="/setting/<%= user._id %>">
                                <i class="bi-gear me-2"></i>
                                Settings
                            </a>
                        </li>

                        <li class="border-top mt-3 pt-2 mx-4">
                            <a class="dropdown-item ms-0 me-0" href="/logout">
                                <i class="bi-box-arrow-left me-2"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
                <div class="position-sticky py-4 px-3 sidebar-sticky">
                    <ul class="nav flex-column h-100">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/overview/<%= user._id %>">
                                <i class="bi-house-fill me-2"></i>
                                Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/task/<%= user._id %>">
                                <i class="bi-wallet me-2"></i>
                                Tasks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/<%= user._id %>">
                                <i class="bi-person me-2"></i>
                                Profile
                            </a>
                        </li>

                        <li class="nav-item border-top mt-auto pt-2">
                            <a class="nav-link" href="/logout">
                                <i class="bi-box-arrow-left me-2"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                <div class="title-group mb-3">
                    <h1 class="h2 mb-0">Admin Dashboard</h1>

                    <small class="text-muted">Hello Thomas, welcome to Admin Dashboard !</small>
                </div>

                <div class="row my-4">
                    <div class="col-lg-7 col-12">

                        <div class="col-lg-5 col-12">
                            <div
                                class="custom-block custom-block-profile-front custom-block-profile text-center bg-white">
                                <div class="custom-block-profile-image-wrap mb-4">
                                    <img src="/images/medium-shot-happy-man-smiling.jpg"
                                        class="custom-block-profile-image img-fluid" alt="">

                                    <a href="/setting/<%= user._id %>"
                                        class="bi-pencil-square custom-block-edit-icon"></a>
                                </div>

                                <p class="d-flex flex-wrap mb-2">
                                    <strong>Name:</strong>
                                    <span>
                                        <%= user.username %>
                                    </span>
                                </p>

                                <p class="d-flex flex-wrap mb-2">
                                    <strong>Email:</strong>
                                    <a href="#">
                                        <%= user.email %>
                                    </a>
                                </p>

                                <p class="d-flex flex-wrap mb-0">
                                    <strong>Phone:</strong>
                                    <a href="#">
                                        <%= user.contact %>
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div>
                    <main>
                        <div class="info-boxes">
                            <div class="info-box">
                                <h3>Total Users</h3>
                                <p id="totalUserCount">0</p>
                            </div>
                            <div class="info-box">
                                <h3>All Projects</h3>
                                <p id="totalTaskCount">0</p>
                            </div>
                            <div class="info-box">
                                <h3>Completed Projects</h3>
                                <p id="completeTask">0</p>
                            </div>
                            <div class="info-box">
                                <h3>Attendance</h3>
                                <p>90%</p>
                            </div>
                        </div>
                        <h2 id="usermanagement">User Management</h2>
                        <table class="user-table">
                            <thead>
                                <tr>
                                    <th>Serial no.</th>
                                    <th>Name</th>
                                    <th>Projects</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% all.forEach((employer, index)=> { %>
                                    <tr>
                                        <td>
                                            <%= index + 1 %>
                                        </td>
                                        <td>
                                            <%= employer.username %>
                                        </td>
                                        <td>
                                            <%= employer.email %>
                                        </td>
                                        <td>
                                            <%= employer.isAdmin ? 'Admin' : 'Employee' %>
                                        </td>
                                        <td>
                                            <%= new Date(employer.createdAt).toLocaleDateString() %>
                                        </td>
                                        <td><a href="/addtask/<%= employer._id %>" class="assign-task-btn">Assign
                                                Task</a></td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </main>
            </main>

        </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/apexcharts.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/super.js"></script>
</body>

</html>